In [1]:
#Colab users uncomment this code
#Files for this notebook are Energy Indicators.xls and world_bank.csv

In [2]:
"""
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
"""

'\n!pip install -U -q PyDrive\nfrom pydrive.auth import GoogleAuth\nfrom pydrive.drive import GoogleDrive\nfrom google.colab import auth\nfrom oauth2client.client import GoogleCredentials\n'

In [3]:
"""
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
"""

'\nauth.authenticate_user()\ngauth = GoogleAuth()\ngauth.credentials = GoogleCredentials.get_application_default()\ndrive = GoogleDrive(gauth)\n'

In [4]:
"""
downloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Energy Indicators.xls')
"""

"\ndownloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access\ndownloaded.GetContentFile('Energy Indicators.xls')\n"

In [5]:
"""
downloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access
downloaded.GetContentFile('world_bank.csv')
"""

"\ndownloaded = drive.CreateFile({'id':'1R9vW5dmox7i8OGOoDql_r9yUrvAJgvhD'}) # replace the id with id of file you want to access\ndownloaded.GetContentFile('world_bank.csv')\n"

# PANDAS ASSIGNMENT (100)
<hr style="height:5px;border-width:2;color:gray">

In this assignment you'll be handling two datasets, <code>Energy Indicators.xls</code> and <code>world_bank.csv</code> and answering some questions.<br><br>
<b>Grading:</b>
<ul>
    <li>Each question has the corresponding total marks next to it.</li>
    <li>Each question will be graded on <b>final answer (60%)</b> and <b>conciseness of code (40%)</b>.</li>
    <li>There is no partial marking for final answer but there is partial marking for conciseness of code</li>
    <li>The total marks will be scaled down later on as per requirement.</li>
</ul><br>
<b>Write your code in the given empty cells</b>

In [6]:
import pandas as pd
import numpy as np

## Loading and Cleaning the Data (50)
<div class="alert alert-block alert-warning">
    <b>Note that this is the most important part of this assignment as without successfully loading and cleaning the data, future questions cannot be answered.</b>
</div>

#### Energy Indicators data ( 6 X 5 = 30)
<b>Instructions</b>:
<ol>
    <li>Load the <b>excel file</b> <code>Energy Indicators.xls</code> into dataframe called <code>energy</code>.</li>
    <li>Make sure to exclude header and footer information from the datafile.</li>
    <li>The first two columns are unecessary and hence get rid of them.</li>
    <li>Change the remaining column names to <code>['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']</code>.</li>
    <li>The Energy Supply is in petajoule. Covert it to gigajoule. (1 petajoule = 1,000,000 gigajoule)</li>
    <li>Rename the following list of countries:
        <ul>
        <li>"Republic of Korea" : "South Korea"</li>
        <li>"United States of America" : "United States"</li>
        <li>"United Kingdom of Great Britain and Northern Ireland" : "United Kingdom"</li>
        <li>"China, Hong Kong Special Administrative Region" : "Hong Kong"</li>
        </ul>
    </li>
</ol>
<div class="alert alert-block alert-info">
    <b>Hint</b>: <code>energy</code> dataframe has 227 rows and 4 columns.
</div>

In [7]:
energy= pd.read_excel("Energy Indicators.xls", skiprows=17, skipfooter=38)  # removing header and footers
energy= energy.iloc[:,2:]
energy = energy.set_axis(['Country Name', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'], axis=1)
energy['Energy Supply']=energy['Energy Supply']*1000000
energy['Country Name']= energy['Country Name'].replace({"Republic of Korea":"South Korea", "United Kingdom of Great Britain and Northern Ireland" : "United Kingdom","United States of America" : "United States","China, Hong Kong Special Administrative Region" : "Hong Kong"  })
energy.dropna()

,Country Name,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.669280
1,Albania,102000000,35,100.000000
2,Algeria,1959000000,51,0.551010
3,American Samoa,.................................................,...,0.641026
4,Andorra,9000000,121,88.695650
...,...,...,...,...
222,Viet Nam,2554000000,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344000000,13,0.000000
225,Zambia,400000000,26,99.714670
226,Zimbabwe,480000000,32,52.536120

#### GDP Data (10)
<b>Instructions: </b><br>
<ol>
    <li>Load the <b>csv file</b> <code>world_bank.csv</code> into a dataframe called <code>GDP</code>.</li>
    <li>Skip the headers.</li>
    <li>The GDP dataframe must only have the columns of country name and GDP of years 2006-2015 (both inclusive)</li>
    <li>Rename the following list of countries:</li>
    <ul>
        <li>"Korea, Rep.": "South Korea"</li>
        <li>"Iran, Islamic Rep.": "Iran"</li>
        <li>"Hong Kong SAR, China": "Hong Kong"</li>
    </ul>
</ol>
<div class="alert alert-block alert-info">
    <b>Hint</b>: <code>GDP</code> dataframe has 264 rows and 11 columns.
</div>

#### Merging the dataframes (10)
<b>Instructions</b>:
Merge the two dataframes into one and call it <code>energy_GDP</code> which has data pertaining to <b>countries common to both dataframes</b>. <code>energy_GDP</code> must have <b>13 columns</b> excluding the index, which should be <code>Country</code>.<br>
After this reduce the dataframe to have data pertaining the countries given in the next cell.

In [8]:
countries = ['China', 'United States', 'Japan', 'United Kingdom', 'Russian Federation', 'Canada', 'Germany', 'India', 'France', 'South Korea', 'Italy', 'Spain', 'Iran', 'Australia', 'Brazil']

In [9]:
GDP= pd.read_csv("world_bank.csv", skiprows=4)
GDP= GDP[["Country Name","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"]]
GDP["Country Name"]= GDP["Country Name"].replace({"Korea, Rep.": "South Korea","Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"})
energy_GDP = pd.merge(energy, GDP, on='Country Name', how="right")
energy_GDP=energy_GDP.set_index("Country Name")
energy_GDP= energy_GDP.loc[countries]
energy_GDP

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,
China,127191000000,93,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,90838000000,286,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,18984000000,149,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,7920000000,124,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,30709000000,214,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,10431000000,296,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,13261000000,165,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,33195000000,26,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,10597000000,166,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,11007000000,221,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,6530000000,109,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,4923000000,106,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,9172000000,119,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,5386000000,231,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,12149000000,59,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

## Questions (50)

#### 1. What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.) (5)
(Your answer should be a series in <b>descending order</b> by average GDP)

In [10]:
energy_GDP.loc[:,["2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"]].mean(axis=1).sort_values(ascending=False)

Country Name
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

#### 2. By how much has the GDP changed over the 10 year span for the country with the 6th largest average GDP? (5)
(Your answer should be a single number)

In [11]:
energy_GDP.loc["United Kingdom","2015"]-energy_GDP.loc["United Kingdom","2006"]

246702696075.3999

#### 3. What country has the maximum % Renewable and what is the percentage? (10)
(Your answer should be a python tuple coontaining country name and its % Renewable)

In [12]:
energy_GDP['% Renewable'].idxmax(), energy_GDP['% Renewable'].max()

('Brazil', 69.64803)

#### 4(i). Create a column that estimates the population using Energy Supply and Energy Supply per capita. (5)
<div class="alert alert-block alert-warning">
    <b>Note: </b>You should convert the population estimation by energy to np.float64 format.
</div><br>
(Your answer should be the first five rows of a dataframe)

In [13]:
energy_GDP["population"]= (energy_GDP["Energy Supply"]/energy_GDP["Energy Supply per Capita"]).astype(np.float64)
energy_GDP.head()

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,population
Country Name,,,,,,,,,,,,,,
China,127191000000,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.367645e+09
United States,90838000000,286,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,3.176154e+08
Japan,18984000000,149,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.274094e+08
United Kingdom,7920000000,124,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,6.387097e+07
Russian Federation,30709000000,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,1.435000e+08

#### 4(ii). What is the third most populous country according to this? (5)
(Your answer should be a single string)

In [14]:
energy_GDP["population"].sort_values(ascending=False).index[2]

'United States'

#### 5. Create a series with country as index and value 1 if the country's % Renewable is above the median % Renewable of the 15 countries and 0 otherwise. (5)
(Your answer should be a series)

In [15]:
median= energy_GDP["% Renewable"].median()
energy_GDP["% Renewable"].apply(lambda x: 1 if x>median else 0)

Country Name
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: % Renewable, dtype: int64

#### 6. Summary of continents (15)
Group the countries by continent and display the following data for each continent: (All data regarding the given 15 countries)
<ul>
    <li><b>size</b>: The number of countries in this continent</li>
    <li><b>sum</b>: Total population estimate of this continent</li>
    <li><b>mean</b>: Mean country population in this continent</li>
    <li><b>std</b>: Standard deviation of country population in this continent</li>
</ul>
Use the dictionary in the next cell to assign corresponding continent to each country.<br>
(Your answer should be  a dataframe with index named Continent <code>['Asia', 'Australia', 'Europe', 'North America', 'South America']</code> and columns <code>['size', 'sum', 'mean', 'std']</code> and it will have two <code>NaN</code>)

In [16]:
continents = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [17]:
df2 = energy_GDP.groupby(continents)['population'].agg(['size', 'sum','mean','std'])
df2

               size           sum          mean           std
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN